body {
  margin: 5px;
  font-family: BinancePlex, Arial, PingFangSC-Regular, "Microsoft YaHei",
    sans-serif !important;
  font-size: 14px;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
